body{
   background-color: #749F82;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
}

.title, .info{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title{
    font-size: 100px;
}

li{
    display: inline;
}

.menuBar{
    padding-bottom: 10px;
}





